/*--------------logo link--------------*/
.back-home-a{
	width: 120px;
	display: block;
	position: absolute;
	left: 2%;
	top: 30%;
	z-index: 9999;


	img.logo-link{
		float: left;
		width: 30px;
		transition: 0.5s;

		&:hover{
			width: 40px;
		}
	}

	.back-home{
		width: 80px;
		margin-top: 10px;
		overflow: hidden;
		transition: 1s;
		float: left;
		z-index: 9999;

		.back-home-p{
			width: 80px;
			font-size: 1.8rem;
			font-weight: 300;
			text-decoration: none;
			color: #fff;
		}
	}
}